{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Illum Visions</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/css/about.css' %}">


</head>
{% include "base.html" %}


        <div id="aboutVideo" class="row container-fluid">



        </div>


        <div id="ourTeam" class="row container-fluid">

             </br>

                <div id="sectionTitle" class="container">

                    <hr>
                    <h2 id="ourVisionaryTeam">
                        Our Visionary Team
                    </h2>

                     <p id="aboutText">about text about text about text about text about text about text about text about text about text
                    about text about text about text about text about text about text about text about text about text
                    about text about text about text about text about text about text about text about text about text
                    about text about text about text about text about text about text about text about text about text
                    about text about text about text about text about text about text </p>

                </div>


            <div id ="row1" class="row justify-content-center">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Whitney Nelson</h5>
                          <img id="whitney" class="card-img-top img-fluid" src="./static/css/strategy.png" alt="UX Strategy icon">
                          </div>
                      </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Zora Moore</h5>
                        <img id="zora" class="card-img-top img-fluid " src="./static/css/ux_research.png" alt="UX Research icon">
                        </br>
                      </div>
                    </div>
                  </div>

                    <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Kamali Lowe</h5>
                        <img id="kamali" class="card-img-top img-fluid " src="./static/css/ux_research.png" alt="UX Research icon">
                        </br>

                      </div>
                    </div>
                  </div>
                </div>



        </div>



</html>
