{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Illum Visions</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/css/home.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



</head>
{% include "base.html" %}

    <body>

        <div id="socialtransformation" class="row container-fluid justify-content-center">

            <div class="container-fluid" id="intro">

                <div id="social">
                  <h1 class="sentence">Social
                    <div class="slidingHorizontal">
                      <span>transformation.</span>
                      <span>advancement.</span>
                      <span>evolution.</span>
                      <span>development.</span>
                    </div>
                  </h1>
                </div>


                <h3 id="tagLine">
                    Increasing the impact of technology through intersectional design thinking
                </h3>

            </div>

        </div>


        <div id="whatwedo" class="row container-fluid">

             </br>

                <div id="wwd_content" class="container">

                    <hr class="line">
                    <h2>
                        What We Do
                    </h2>
                </div>


                <div id ="row1" class="row justify-content-end">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                          <img id="strategy" class="card-img-top img-fluid" src="./static/css/strategy.png" alt="UX Strategy icon">
                          </br>
                              <h5 class="card-title">UX Strategy</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <div class="popup" onclick="strategyPopup()">
                              <i class="material-icons" style="font-size:48px;color:#E47957">add_circle</i>
                              <span class="popuptext" id="strategyPopup">
                                  <p style="font-weight:bold; text-align: center;">Services</p>
                                        <ul>
                                            <li>Web Design </li>
                                            <li>Android and IOS app design </li>
                                            <li>Prototyping </li>
                                            <li>Interaction Design </li>
                                            <li>Product Design </li>
                                        </ul></span>
                            </div>

                            <script>
                                // When the user clicks on div, open the popup
                            function strategyPopup() {
                              var popup = document.getElementById("strategyPopup");
                              popup.classList.toggle("show");
                            }
                            </script>

                      </div>

                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <img id="uxResearch" class="card-img-top img-fluid " src="./static/css/ux_research.png" alt="UX Research icon">
                        </br>
                        <h5 class="card-title">UX Research</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <div class="popup" onclick="reserachPopup()">
                              <i class="material-icons" style="font-size:48px;color:#E47957">add_circle</i>
                              <span class="popuptext" id="reserachPopup">
                                  <p style="font-weight:bold; text-align: center;">Services</p>
                                        <ul>
                                            <li>Web Design </li>
                                            <li>Android and IOS app design </li>
                                            <li>Prototyping </li>
                                            <li>Interaction Design </li>
                                            <li>Product Design </li>
                                        </ul></span>

                                    <script>
                                        // When the user clicks on div, open the popup
                                    function reserachPopup() {
                                      var popup = document.getElementById("reserachPopup");
                                      popup.classList.toggle("show");
                                    }
                                    </script>
                            </div>

                      </div>
                    </div>
                  </div>
                </div>
                      </br>
                      </br>





             <div id ="row2" class="row justify-content-end">
                  <div class="col-sm-4">


<!--                        <div class="flip-card">-->
<!--                              <div class="flip-card-inner justify-content-center">-->
<!--                                  <div class="flip-card-front">-->
<!--                                    <img id="design" class="card-img-top img-fluid " src="./static/css/ux_design.png" alt="UX Design icon">-->
<!--                                    </br>-->
<!--                                    <h4 class="card-title">User Experience Design</h4>-->
<!--                                    <p class="card-text">Using insights gathered through our research we develop the best design solutions for our clients.</p>-->
<!--                                  </div>-->
<!--                                   <div class="flip-card-back align-middle">-->
<!--                                       <p style="font-weight:bold; text-align: center;">Services</p>-->
<!--                                        <ul>-->
<!--                                            <li>Web Design </li>-->
<!--                                            <li>Android and IOS app design </li>-->
<!--                                            <li>Prototyping </li>-->
<!--                                            <li>Interaction Design </li>-->
<!--                                            <li>Product Design </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                              </div>-->
<!--                        </div>-->


<!--                  </div>-->
                    <div class="card">
                      <div class="card-body">
                        <img id="uxDesign" class="card-img-top img-fluid " src="./static/css/ux_design.png" alt="UX Design icon">
                        </br>
                        <h5 class="card-title">User Experience Design</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <div class="popup" onclick="designPopup()">
                              <i class="material-icons" style="font-size:48px;color:#E47957">add_circle</i>
                              <span class="popuptext" id="designPopup">
                                  <p style="font-weight:bold; text-align: center;">Services</p>
                                        <ul>
                                            <li>Web Design </li>
                                            <li>Android and IOS app design </li>
                                            <li>Prototyping </li>
                                            <li>Interaction Design </li>
                                            <li>Product Design </li>
                                        </ul></span>

                                    <script>
                                        // When the user clicks on div, open the popup
                                    function designPopup() {
                                      var popup = document.getElementById("designPopup");
                                      popup.classList.toggle("show");
                                    }
                                    </script>
                            </div>

                      </div>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <img id="branding" class="card-img-top img-fluid " src="./static/css/branding_icon.png" alt="Branding icon">
                        </br>
                        <h5 class="card-title">Branding</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       <div class="popup" onclick="brandingPopup()">
                              <i class="material-icons" style="font-size:48px;color:#E47957">add_circle</i>
                              <span class="popuptext" id="brandingPopup">
                                  <p style="font-weight:bold; text-align: center;">Services</p>
                                        <ul>
                                            <li>Web Design </li>
                                            <li>Android and IOS app design </li>
                                            <li>Prototyping </li>
                                            <li>Interaction Design </li>
                                            <li>Product Design </li>
                                        </ul></span>

                                    <script>
                                        // When the user clicks on div, open the popup
                                    function brandingPopup() {
                                      var popup = document.getElementById("brandingPopup");
                                      popup.classList.toggle("show");
                                    }
                                    </script>
                            </div>
                      </div>
                    </div>



                  </div>

             </div>

        </div>







        <div id="getintouch" class="row container-fluid">

            </br>
            </br>

            <h1 id="contactHeader" style="color:white;">
                 We would love to work with you!
            </h1>

        <form class="justify-content-center" id="contactInfo" action=”mailto:illumvisions@gmail.com” method=”post” enctype=”multipart/form-data” name=”EmailForm”>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="name" class="w3-input form-control border border-top-0 border-right-0 border-left-0" id="name" placeholder="Your name (required)">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control border border-top-0 border-right-0 border-left-0" id="email" placeholder="Your email (required)">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control border border-top-0 border-right-0 border-left-0" id="message" placeholder="Your message"></textarea>
          </div>
            <div class="d-flex justify-content-center">
            <input class="btn btn-default" id="gitButton" type="submit" value="Get in Touch">
        </div>
        </form>



        </div>

        </div>


    </body>

{% include "base.html" %}

</html>

