
hr.line {
  border: 2px solid #E47957;
  width: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 45%;
  margin-right:50%;
}



#aaphdcs
{
    padding-top: 3%;
    background-color:#F4E8DC;
    height: auto;
    padding-bottom:1%;
}


#problemspace{
    background-color:black;
    color:white;
    padding-left: 15%;
    padding-top: 5%;
    padding-right: 15%;
    padding-bottom:5%;


}

h4{
    padding-bottom: 2%;

}

p{
    padding-bottom: 3%;

}

#solution {

    height: auto;
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom:10%;
 padding-left: 15%;
     padding-right: 15%;


}

h6{
    padding-bottom: 4%;

}

#gitButton{
    color: white;
    background-color: #E47957;
    font-size: 20px;
    font-style: normal;
	font-weight: normal;
	font-family: Poppins;
	padding: 8px 30px;
	justify-content: center;
	text-align: center;
	padding-top: 10px;
	margin-top:2%;
	height:auto;
	width: auto;
	position: absolute;
	border-radius: 0;
}
