#intro{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width:90%;
  text-align: center;

}

#social{

    margin-bottom:2%;

}

#rotatingLetters{
    color: #804123;
    font-weight: bold;
    display: inline;
}

#tagLine{
    font-size:2vw;
    font-weight:lighter;
}


#social{
    font-weight: 200;
    margin: 0.4em 0;
    color:black;
    block: in-line;

}

#whatwedo{
    background-color:#F4E8DC;
    max-width:100%;
    padding-bottom: 4%;

}

#strategy-info{
  border: 1px solid rgba(75, 11, 13, 0.09);
  border-radius: 50%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#row1, #row2{
    margin-bottom: 4%;
}

#socialtransformation{
  background-color: white;
  height: 600px;
  max-width:100%;
}

#getintouch{
    background-color:black;
    height: 800px;
    width:100%;
    display: block;

}


hr.line {
  border: 3px solid #E47957;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}


body {
  font-family: Poppins, sans-serif;

}

.card {
  float:right;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;

  margin-bottom: 2%;
  transition: 0.3s;
  transform-style: preserve-3d;
  font-size; 15px;
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



* {
  box-sizing: border-box;
}



/* Float four columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    width:100%;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


#strategy, #uxResearch, #uxDesign, #branding{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 40%;
}

#contactHeader {
    text-color: white;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 4%;

}

#contactInfo{
    width: 80%;
}

form {
margin: 0 auto;
width:250px;
}

.form-group{
    border:none;

}

#name, #email, #message{

    font-size: 25px;
}

#name, #email{
    height: 90px;
    background-color:black;
    color: white;
    margin-bottom:2%;
}

#message{

    height: 300px;
    background-color:black;
    color: white;
}

#gitButton{
    color: black;
    background-color: white;
    font-size: 20px;
    font-style: normal;
	font-weight: normal;
	font-family: Poppins;
	padding: 8px 30px;
	justify-content: center;
	text-align: center;
	padding-top: 10px;
	margin-top:2%;
	height: 63px;
	width: 191px;
	position: absolute;
	border-radius: 0;
}

input[type=text]{
    border-bottom: 5px solid red;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

#plus{

    background-color: white;
    border-radius:60%;
}


.flip-card {
  float:right;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  background-color: #fff;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100px;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  height:100%;
}

.flip-card-back {
  background-color: #E37956;
  padding-bottom:15%;
  color: white;
  transform: rotateY(180deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


#learnMore{
    background-color:#FFF6ED;
    text-align: center;
    color: black;
    border-radius: 12px;
    font-size: 15px;
    font-style: normal;
	font-weight: normal;
	font-family: Poppins;
	padding: 8px 30px;
}

.sentence{
    font-size:8vw;
    text-align:center;
     margin-right: 50%;
     margin-bottom: 5%;
}

/*Horizontal Sliding*/
.slidingHorizontal{
	display: inline;
	text-indent: 1%;
}
.slidingHorizontal span{
	animation: leftToRight 10.0s linear infinite 0s;
	-ms-animation: leftToRight 10.0s linear infinite 0s;
	-webkit-animation: leftToRight 10.0s linear infinite 0s;
    font-weight: bold;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	color: #804123;

}
.slidingHorizontal span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;

}
.slidingHorizontal span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingHorizontal span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}


/*leftToRight Animation*/
@-moz-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateX(-50px); }
	10% { opacity: 1; -moz-transform: translateX(0px); }
	25% { opacity: 1; -moz-transform: translateX(0px); }
	30% { opacity: 0; -moz-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateX(-50px); }
	10% { opacity: 1; -webkit-transform: translateX(0px); }
	25% { opacity: 1; -webkit-transform: translateX(0px); }
	30% { opacity: 0; -webkit-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateX(-50px); }
	10% { opacity: 1; -ms-transform: translateX(0px); }
	25% { opacity: 1; -ms-transform: translateX(0px); }
	30% { opacity: 0; -ms-transform: translateX(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}






/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 390px;
  height: 325px;
  background-color: #E37956;
  color: #fff;
  text-align: leftToRight;
  border-radius: 6px;
  padding: 8px 8px 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -80px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  font-size:1vw;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #E37956 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
