#pagetitle{

    font-size:3vw;
    text-align: center;
    padding-top: 2%;
}


hr.line {
  border: 3px solid #E47957;
  width: 10%;
  margin-bottom: 1%;
  margin-left:45%;
}

#bio{

	text-align: center;
	font-size:1.5vw;
	padding-top:3%;
	padding-left:20%;
	padding-right:20%;
}

#ourwork{

  	background-color:#F4E8DC;
    height:400px;
    max-width:100%;
}

#bocologo, #qsLogo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#projects{
    padding-top: 5%;
    padding-bottom: 5%;
}

#bocoDescription, #qsDescription{

    padding-right: 10%;
    padding-left:5%;
}

#bocoblockparty, #quickSip, #listServe{
    padding-bottom: 5%;
}




