#pagetitle{
    font-size:3vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}
@media screen and (max-width: 600px) {
  #pagetitle{
   font-size:30px;
   padding-bottom: 5%;}

  }


hr.line {
  border: 1px solid #E47957;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  margin-left:45%;
}

@media screen and (max-width: 600px) {
  hr.line {
    width: 20%;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left:40%;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#bio{

	text-align: center;
	font-size:1.5vw;
	padding-left:15%;
	padding-right:15%;
	text-align: justify;
	font-family: 'Poppins', sans-serif;

}

@media screen and (max-width: 600px) {
  #bio {
    font-size:3vw;
    text-align: none;
  }
}

a{
    color:black !important;
}

#d1, #d2, #d3{

  text-justify: inter-word;
  font-size: 15px;

}
@media screen and (max-width: 600px) {
  #d1, #d2, #d3{

  text-justify: inter-word;
  font-size: 12px;

}
}

#heading{

font-size:30px;
padding-bottom:5%;
}

@media screen and (max-width: 600px) {
  #heading{

    font-size:15px;
    padding-bottom:5%;
    }

}
}




#ourwork{

  	background-color:#F4E8DC;
    height:350px;
    max-width:100%;
}


@media screen and (max-width: 600px) {
  #ourwork{

  	background-color:#F4E8DC;
    height:300px;
    max-width:100%;}

  }

#bocologo, #qslogo #aaphdlogo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 600px) {
  #bocologo, #qsLogo #aaphdLogo{
  	padding-bottom: 2%;
    width:  200px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  	}

  }



#projects{
    padding-top: 5%;
    padding-bottom: 5%;
}

#bocoDescription, #qsDescription #aaphdDescription{

    padding-right: 10%;
    padding-left:5%;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) {
  #bocoDescription, #qsDescription #aaphdDescription{
  	font-size: 10px;}

  }




#bocoblockparty, #quickSip, #aaphd {
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;

}

.column {
  float: left;


}
.left {
  width: 30%;
}

.right {
  width: 70%;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}






